.carousel {
  position: relative;
  width: 100%;
}

.carousel__header {
  font-size: var(--font-xl);
  font-weight: 500;
  margin-bottom: var(--spacing-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel__arrows-container {
  display: none;
}

@media (min-width: 400px) {
  .carousel__arrows-container {
    display: flex;
    gap: var(--spacing-4);
  }
}

.carousel__arrows-container__arrow {
  font-size: 1.8rem;
  cursor: pointer;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border-radius: 8px; 
  border: 1px solid var(--gray-10);
  width: 2.25rem; 
  height: 2.25rem; 
  background-color: var(--white);
  color: var(--gray-40);
  opacity: 0.9;
  transition-duration: scale 200ms ease-out;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1); 
}

.carousel__arrows-container__arrow:hover, .carousel__arrows-container__arrow:focus-visible {
  opacity: 1;
  scale: 1.02;
}

.carousel__arrows-container__arrow:active {
  opacity: 1;
  scale: .99;
}

/* Hide scrollbar for carousel */
.carousel__container::-webkit-scrollbar {
  display: none;
}

.carousel__container {
  display: flex; 
  overflow-x: auto;
  gap: var(--spacing-4); 
  scroll-behavior: smooth; 
  padding: calc(var(--spacing-3)) calc(var(--spacing-2));
  margin: calc(var(--spacing-2) * -1) calc(var(--spacing-3) * -1);

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel__container > * {
  scale: 0.95;
  transition: scale .2s ease-out;
}

.carousel__container > *:hover, .carousel__container > *:focus-visible {
  scale: 1.07;
}

.carousel__container__empty {
  margin-top: var(--spacing-6);
  padding-bottom: var(--spacing-12);
  text-align: center;
  font-style: italic;
}
