.movie-card {
  
}

.movie-card__img {
  width: 200px;
  min-width: 200px;
  height: 300px;
}

.movie-card__title {
  padding: var(--spacing-1);
}

.movie-card__year {
  padding-inline: var(--spacing-1);
}
