.footer {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-8) var(--spacing-4) var(--spacing-10);
  gap: var(--spacing-4);
  align-items: center;
  justify-content: center;
  background: var(--black);
  margin-top: var(--spacing-12);
}

.footer__powered-by {
  color: var(--white)
}

.footer__logo {
  width: 200px;
}
