.cta {
  cursor: pointer;
  background-color: var(--primary-70);
  color: var(--white);
  border-radius: var(--spacing-5);
  padding: var(--spacing-2) var(--spacing-5);
  margin: var(--spacing-4) var(--spacing-2);
  transition: scale .2s ease-out;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
  height: 48px;
}

.cta:hover {
  background-color: var(--primary-80);
  scale: 1.02;
}

.cta:active {
  scale: .98;
}

.cta--outline {
  color: unset;
  background-color: unset;
  border: 1px solid currentColor;
}

.cta--outline:hover {
  background-color: unset;
}
