.movie-overview {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-7);
  align-items: start;
  justify-items: start;
}

.movie-overview__img {
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
}

.movie-overview__desc {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.movie-overview__desc__title {
  font-size: var(--font-xl);
}

.movie-overview__desc__actions {
  align-self: center;
}

.movie-overview__desc__title--action {
    font-family: var(--font-action);
}

.movie-overview__desc__title--fantasy {
  font-family: var(--font-fantasy);
  font-size: var(--font-xxl);
}

.movie-overview__desc__title--science {
  font-family: var(--font-science);
}

@media (min-width: 640px) {
  .movie-overview {
    flex-direction: row;
  }

  .movie-overview__img {
    width: 300px;
    max-width: 300px;
  }
  
  .movie-overview__desc {
    flex-grow: 1;
  }

  .movie-overview__desc__title {
    font-size: var(--font-xxl);
  }

  .movie-overview__desc__title--fantasy {
    font-size: var(--font-xxxl);
  }

  .movie-overview__desc__actions {
    align-self: start;
  }
}

