.container {
  width: 100%;
  max-width: var(--screen-max-w);
  margin-inline: auto;
  padding-inline: var(--spacing-4);
}

.contaniner--styled {
  font-family: var(--font);
  background: linear-gradient(90deg, var(--container) 0%, rgba(0,0,0,0) 0.5%);
  padding-block: var(--spacing-4);
  padding-inline-start: var(--spacing-6);
  backdrop-filter: hue-rotate(190deg) opacity(30%);
  box-shadow: 0 3px 5px #00000099;
  border-top: 1px solid rgba(107, 107, 107, 0.13);
  margin-bottom: var(--spacing-12);
}

@media (min-width: 1000px) {
  .contaniner--styled {
    border-radius: 4px;
  }
}

.container--action {
  --container: var(--action);
  --font: var(--font-action);
}

.container--fantasy {
  --container: var(--fantasy);
  --font: var(--font-fantasy);
  font-size: var(--font-lg);
}

.container--fantasy .carousel__header {
  font-size: 1.6em;
}

.container--science {
  --container: var(--science);
  --font: var(--font-science);
}
